extends layout.pug
block content
    form(action="/login" method="post")
        input(type="email" name="email" placeholder="Email Id.." required)
        input(type="password" name="pass" placeholder="Password" required)
        input(type="submit" name="submit" value="Login")
