extends layout.pug
block content
    form(method='POST' action='/register1')
        input(type='email' name='email' placeholder='email')
        input(type='submit' name='submit' value='Submit')
